<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myezen.myapp.persistance.BoardService_Mapper">
	<sql id="search">
		<choose>
        	<when test="searchOption == '제목만'">
          		AND (subject LIKE '%' || #{searchContext} || '%')
        	</when>
        	<when test="searchOption == '제목과내용'">
          		AND (subject LIKE '%' || #{searchContext} || '%' OR contents LIKE '%' || #{searchContext} || '%')
        	</when>
        	<when test="searchOption == '글작성자'">
          		AND (writer LIKE '%' || #{searchContext} || '%')
        	</when>
      	</choose>
	</sql>

	<select id="boardSelectAll" parameterType="scri" resultType="bv">
		SELECT * FROM (
    	SELECT ROWNUM AS rnum, A.* FROM (
      	SELECT bidx, depth, level_, subject, writer, TO_CHAR(writeday, 'yyyy.mm.dd') AS writeday, NVL(viewcnt, 0) AS viewcnt, midx
      	FROM board1230
      	WHERE DELYN = 'N'
      	<include refid="search"/>
      	ORDER BY originbidx DESC, depth ASC, level_ ASC) A) B
  		WHERE B.rnum BETWEEN (#{page}-1)*#{pagePerNum}+1 AND #{page}*#{pagePerNum}
	</select>
	
	<select id="boardTotal" parameterType="scri" resultType="int">
		SELECT count(*) as cnt from board1230 where delyn='N'
		<include refid="search"/>
	</select>
	
	<select id="boardSelectOne" parameterType="int" resultType="bv">
		SELECT * FROM BOARD1230 WHERE BIDX=#{bidx}
	</select>
	
	<insert id="boardInsert" parameterType="bv">
		INSERT INTO board1230(bidx,originbidx,subject,contents,writer,midx,pwd,ip,fileName) 
		VALUES(bidx_seq.nextval,bidx_seq.nextval,#{subject},#{contents},#{writer},#{midx},#{pwd},#{ip},#{fileName})
	</insert>
	
	<update id="boardModify" parameterType="bv">
		UPDATE board1230 SET SUBJECT=#{subject}, CONTENTS=#{contents}, fileName=#{fileName} WHERE BIDX=#{bidx} 
	</update>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM BOARD1230 WHERE BIDX=#{bidx}
	</delete>
	<update id="boardReplyUpdate" parameterType="HashMap">
		UPDATE board1230 SET depth = depth+1 WHERE originbidx = #{originbidx} AND depth>#{depth}
	</update>
	<insert id="boardReplyInsert" parameterType="bv">
		INSERT INTO board1230(bidx, originbidx, depth, level_, subject, CONTENTS, writer, ip,pwd,fileName,midx)
		VALUES(bidx_seq.nextval,#{originbidx},#{depth}+1,#{level_}+1,#{subject},#{contents},#{writer},#{ip},#{pwd},#{fileName},#{midx})
	</insert>
</mapper>
