@charset "utf-8";
@import url("fonts.css");

/*공통 적용*/
body{font-family:"Arial","NanumBarunGothic","맑은 고딕";}
a{display:inline-block;text-decoration:none; color:inherit;}
a:hover{text-decoration:underline;}
	/*inherit : 부모와 동일하게 설정
				대부분의 텍스트스타일의 기본값*/
.clearfix::after{content:''; display:block; clear:both;}
.inner{width:1100px; height:100%; margin:0 auto; position:relative;}

/*상단 스타일*/
header{width:100%;height:120px;background:#f6f5ef;
	border-top:2px solid #000; border-bottom:1px solid #e5e5e5;position:fixed;top:0;left:0;z-index:100;}
		#logo{position:absolute; top:22px;}
		#logo a{width:75px; height:75px; text-indent:-99999px;
				background:url("../images/logo.png")no-repeat;}
		#util_nav {position:absolute; top:15px; right:93px; width:464px;
					font-size:13px;color:#555; line-height:20px; text-align:center;
					background:url("../images/sdown_util_sep.png") no-repeat;}
		#util_nav li{float:left; margin-left:1px;}
		#util_nav li:nth-child(1){width:76px; margin-left:0px;}
		#util_nav li:nth-child(2){width:107px;}
		#util_nav li:nth-child(3){width:181px;}
		#util_nav li:nth-child(4){width:97px;}
		#btn_search{position:absolute;top:9px;right:54px;width:32px;height:32px;
					background:#FFF;border:1px solid #ccc; border-radius:5px;}
		#btn_search p img{position:absolute;top:6px; right:7px;}

		#gnb_nav{width:1100px;margin:0 auto;}
		#gnb_nav ul{float:right;margin-top:-66px;}
		#gnb_nav li{float:left;font-size:13px;text-align:center;}
		#gnb_nav li:nth-child(1){width:89px;}
		#gnb_nav li:nth-child(2){width:73px;}
		#gnb_nav li:nth-child(3){width:79px;}
		#gnb_nav li:nth-child(4){width:153px;}
		#gnb_nav li:nth-child(5){width:200px;}
		#gnb_nav li:nth-child(6){width:170px;}
		#gnb_nav li:nth-child(7){width:131px;}
		#gnb_nav li a{width:100%; text-align:center; color:#333; font-size:13px;
						line-height:20px; padding-top:10px; height:56px; position:relative;}
		#gnb_nav li a:hover{background:#2c2a29; color:#669900;}
		#gnb_nav li:hover .sub{height:360px;}
		#gnb_nav li .sub{position:absolute; width:100%; height:0; top:120px; left:0; background:#202a29;overflow:hidden; transition:all .4s ease-in-out;}
		#gnb_nav li .sub .sub_menu{height:240px;}
		#gnb_nav li .sub .sub_bg{height:120px; background:url("../images/gnb_sub_txbg.jpg")}

/*중앙 스타일*/
main{padding-top:120px;}
main .detail{width:125px; line-height:34px; font-size:15px; text-align:center;
			border:2px solid #000; border-radius:5px; transition:all .4s;}
@keyframes visual{
	from{opacity:0;}
	to{opacity:1;}
	/*opactiry: 투명도 조절(0~1)*/
}
	#main_visual{height:646px;
				background:url("../images/main_bg.jpg")center/cover;}
	#main_visual h3{position:absolute; top:7.1%; left:29px; animation:visual 1s;}
	#main_visual li{position:absolute;animation:visual 1s both;}
	#main_visual li:nth-child(1){top:11.8%; left:35.8%; animation-delay:.4s;}
	#main_visual li:nth-child(2){top:33.5%; left:18.8%; animation-delay:.8s;}
	#main_visual li:nth-child(3){top:15.6%;right:-9.6%; animation-delay:1.2s;}
	#main_visual p{position:absolute; top:39%; left:104px; animation: visual 1s ease 1.6s both;}
	#main_visual p .detail{color:#d73a7a; border-color:#d73a7a;}
	#main_visual p .detail:hover{color:#fff; background:#d73a7a;}
	#notice{height:62px;
			background-image:linear-gradient(90deg,#111 50%,#f5f4ef 50%);}
	#notice .left{float:left; width:640px; height:62px; background:#111;}
	#notice .left h3{float:left;margin-top:21px;}
	#notice .left ul{float:left; font-size:14px; line-height:24px;
					padding-left:15px; color:#fff; margin-top:19px;}
	#notice .left p{float:right; margin:14px 20px 0 0;}
	#notice .left p img{width:35px;}
	#notice .right{float:right; width:460px; height:62px; background:#f5f4ef;}
	#notice .right h3{width:234px; padding:13px 0 0 200px;}
	#notice .right a{width:100%;}
	#notice .right .title{width:129px; margin-top:10px;}
	#notice .right .open{float:right;}
	#rewards{background:#1e3932; padding:30px 0 40px;}
	#rewards .inner{width:1080px;}
		#rewards_logo{float:left; width:16.3%; margin:0 40px;}
		#rewards_logo img{width:176px;}
		#rewards_conts{float:right; width:calc(83.7% - 110px); padding-right:30px;
						color:#fff; letter-spacing:.5px; line-height:1.4;}
		#rewards_conts .info{padding-bottom:12px; margin-bottom:22px;border-bottom:1px solid #4b515b;position:relative;}
		#rewards_conts .info h3{font-size:26px; margin-bottom:22px;}
		#rewards_conts .info h3 strong{font-weight:bold;}
		#rewards_conts .info p{font-size:17px;}
		#rewards_conts .info p b{font-weight:bold;}
		#rewards_conts .info .member{position:absolute;right:0; bottom:20px;}
		#rewards_conts .info .member li{float:left;}
		#rewards_conts .info .member a{height:36px; line-height:36px; padding:0 18.5px; margin-left: 9px; font-size:14px;
										border:2px solid #fff; border-radius:5px;}
		#rewards_conts .info .member li:first-child a{background:#00704a; border-color:#00704a;}
		#rewards_conts .gift{position:relative;}
		#rewards_conts .gift p{font-size:14px;}
		#rewards_conts .gift p em{font-weight:bold;}
		#rewards_conts .gift .btn{position:absolute; top:0; right:0;}
		#rewards_conts .gift .btn a{width:142px; height:36px; line-height:36px; padding:0 18.5px; font-size:14px; text-align:center;
			border:2px solid #fff; border-radius:5px;}
		

	#bean{height:572px;
		 background:url(../images/bean_bg_left.png)0 -100px no-repeat,
					url(../images/bean_bg_right.png) right 300px no-repeat,
					url(../images/bean_bg.jpg)center/cover;}
	#bean .bean_img{position:absolute;top:13.6%; left:13.8%;}
	#bean .bean_text{position:absolute;top:31.9%; right:16.8%}
	#bean .bean_text p:last-child{margin-top:39px;}
	#bean .bean_text .detail{color:#1e245c; border-color:#1e245c;}
	#bean .bean_text .detail:hover{color:#fff; background:#1e245c;}
	#reserve{height:400px;
			 background:url(../images/indonesia_leaf1.png)left bottom no-repeat,
						url(../images/indonesia_leaf2.png) right bottom no-repeat,
						url(../images/indonesia_visual3.png)center center no-repeat,
						url(../images/indonesia_visual_bg.jpg) center/cover;}
	#reserve h3{padding-top:115px;}
	#reserve p{margin:39px 0 0 264px;}
	#reserve p .detail{color:#b9813e; border-color:#b9813e;}
	#reserve p .detail:hover{color:#fff; background:#b9813e;}
	#favorite{height:800px;
				background:url("../images/fav_prod_bg_new.jpg") center bottom/auto 87% no-repeat;
				background-color:#45434c; background-attachment:fixed;}
	#favorite .fav_img{position:absolute; top:100px; right:0;}
		#fav_text {position:absolute; top:120px; left:0px;}
		#fav_text h3{padding-left:100px;}
		#fav_text p:nth-child(2){margin-top:46px;}
		#fav_text p:last-child{margin:39px 0 0 230px;}
		#fav_text p .detail{color:#fff; border-color:#fff;}
		#fav_text p .detail:hover{color:#555; background:#fff;}
	#magazine{height:400px;
				background:url("../images/reserve_bg_pc.png") center/100% 100% no-repeat;}	
	#magazine .mag_img{position:absolute;top:0;right:50%; margin-right:-483px;}
		#mag_text{position:absolute;top:140px;left:0;}
		#mag_text p{margin:33px 0 0 300px;}
		#mag_text .detail{color:#000; border-color:#000;}
		#mag_text .detail:hover{color:#fff;background:#000;}
	#store{height:400px; overflow:hidden;
			background:url("../images/store_bg.jpg")center/100% auto no-repeat;}
	#store p{position:absolute;}
	#store .img01{top:149px; left:300px;}
	#store .img02{top:0; left:70px;}
	#store .img03{top:-60px; left:430px;}
	#store .img04{bottom:0; right:30px;}
	#store .txt01{top:100px; left:656px;}
	#store .txt02{top:168px; left:656px;}
	#store .btn{top:258px; left:662px;} 
	#store .detail{color:#222; border-color:#222;}
	#store .detail:hover{color:#fff;background:#222;}

footer{background:#2C2A29; padding:32px 0 35px;}
footer .menus{width:1182px; margin:0 auto; color:#fff; background:url("../images/footer_logo.png") right 8px no-repeat;
			  padding-bottom:30px;}
footer .menus dl{display:inline-block; width:220px; vertical-align:top;}
footer .menus dt{font-size:14px; line-height:40px;}
footer .menus dd{font-size:12px; line-height:24px;}
footer .awards{width:100%; height:80px; margin:0 auto; background:#282828;margin-top:40px;padding-top:20px;}
footer .awards .awards_inner{width:1182px; margin:0 auto; padding-bottom:20px;font-size:0;text-align:center;}
footer .awards li{display:inline-block; height:40px;}
footer .info{font-size:12px; padding-top:30px; line-height:18px; text-align: center;}
footer .info .rules{width:1182px; margin:0 auto;}
footer .info .rules li{display:inline-block; color:#ccc; border-right:1px solid #393939; padding:0 10px;}
footer .info .rules li:first-child{border:0; font-weight:bold;color:#00b050;}
footer .info .link li{display:inline-block; margin:10px 2px 0 3px; }
footer .info .link a{color:#fff; border:2px solid #fff; border-radius: 3px;
					padding: 0 10px; width:90px; height:30px;line-height:30px;}
footer address{padding:25px 0 5px;white-space:pre-wrap;}
footer p{line-height:40px;}